* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #6d6875;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.header {
  height: 10%;
  display: flex;
  align-items: center;
  font-size: 3vw;
  padding-left: 2%;
  font-weight: 700;
  justify-content: center;
  color: #FFCDB2;
}

.ten {
  height: 10%;
  font-size: 1.75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  color: #ffcdb26d;
}
.login-singup {
  height: 10%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
a {
  text-decoration: none;
  background: grey;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25vw;
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  margin-top: 2%;
  padding: 1.5%;
  background: #FFCDB2;
  color: black;
  font-weight: 700;
}
.button:hover{
  font-size: 1.15vw;
  width: 9.85vw;
  height: 4.85vh;
}
input {
  height: 5vh;
  width: 20vw;
  padding-left: 2%;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #FFCDB2;
}
.form {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 30vw;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.form-hold {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-hold-extend{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.form-button {
  width: 20vw;
  height: 5vh;
  border-radius: 10px;
  border: none;
  background-color: #FFCDB2;
}

.dna-wrapper{
  height: 30vh;
  width: 50vw;  
}
.load-hold{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.holder-2{

  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.holder-account-quest{
  width: 30vw;
  height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.button-ques{
  background: #FFCDB2;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: .5vw;
  padding-bottom: .5vw;
  border-radius: 10px;
  color: black;
  margin-top: 25px;
}
a {
  text-decoration: none;

}
h3 {
  color: #FFCDB2;

}
h1{
  color: #FFCDB2;
}
.margin-20{
  margin-bottom: 20px;
}
.margin-top{
  margin-top: 20px;
}
.home-hold-login{

  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.header-login{
  display: flex;
  height: 5vh;
  align-items: center;
  justify-content: center;
  gap: 10%;
}
.body-login{
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.body-login-two{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}