* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: grey;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background: grey;
}
.header {
  height: 10%;
  display: flex;
  align-items: center;
  font-size: 3vw;
  padding-left: 2%;
  font-weight: 700;
  justify-content: center;
  color: #FFCDB2;
  
}

.ten {
  height: 10%;
  font-size: 1.75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  color: #FFCDB2;
}
.login-singup {
  height: 10%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
a {
  text-decoration: none;
  background: grey;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25vw;
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  margin-top: 2%;
  padding: 1.5%;
  background: #FFCDB2;
  color: black;
  font-weight: 700;
}
.button:hover{
  font-size: 1.15vw;
  width: 9.85vw;
  height: 4.85vh;
}
input {
  height: 5vh;
  width: 20vw;
  padding-left: 2%;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #FFCDB2;
}
.form {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 30vw;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.form-hold {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-hold-extend{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.form-button {
  width: 20vw;
  height: 5vh;
  border-radius: 10px;
  border: none;
  background-color: #FFCDB2;
}

.dna-wrapper{
  height: 30vh;
  width: 50vw;  
}
.load-hold{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.holder-2{

  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.holder-account-quest{
  width: 30vw;
  height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.button-ques{
  background: #FFCDB2;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: .5vw;
  padding-bottom: .5vw;
  border-radius: 10px;
  color: black;
  margin-top: 25px;
}
a {
  text-decoration: none;

}
h3 {
  color: #FFCDB2;

}
h1{
  color: #FFCDB2;
}
.margin-20{
  margin-bottom: 20px;
}
.margin-top{
  margin-top: 20px;
}
.home-hold-login{

  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.header-login{
  display: flex;
  height: 5vh;
  align-items: center;
  justify-content: center;
  gap: 10%;
}
.body-login{
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.body-login-two{
  height: 95vh;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  padding: 2vw;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgb(118, 118, 118);

}
.body-login-two-not-admin{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  padding: 2vw;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgb(118, 118, 118);

}
.container-two{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.vh{
  height: 15vh;
  display: flex;
  justify-content: center;
  padding-top: 3%;
}
.vh-two{
  height: 75vh;
  display: flex;
  justify-content: center;
}
textarea{
  background: #FFCDB2;
  padding: 3%;
  border-radius: 10px;
  font-weight: 700;
  height: 60vh;
  width: 50vw;
}
.form-two{
  display: flex;
  flex-direction: column;
  height: 55vh;
  width: 30vw;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.form-button-two{
  width: 9vw;
  height: 10vh;
  border-radius: 10px;
  border: none;
  background-color: #FFCDB2;
}
.title{
  height: 8vh;
}
.body{
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15%;

}
.footer-home{
  width: 100vw;
  background: #FFCDB2;
  height: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6d6875;
}
.link-github{
  text-decoration: none;
  background: none;
  color: #6d6875;
  font-size: 1.25vw;
  font-weight: 700;
}
.posts-holder-individual{
  width: 30vw;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1vw;
  gap: 10px;
  font-size: 1vw;
  

}
.title-post{
  width: 100%;
  display: flex;
  align-items: center;

}
.seperate-links{
  display: flex;
  
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.mini-test-link{
  font-size: 1.35vw;
  font-weight: 700;
}
.remove{
  background: none;
  color: black;
}
.remove:hover{
  color: rgb(67, 67, 67);
  font-family: 700;
}
.small-text{
  font-size: 1vw;
}
.like-dislike{
  display: flex;
  gap: 3px;
}
.button-like-dislike{
  font-size: .9vw;
  text-decoration: none;
  border: none;
  background: none;
  border: 1.5px solid black;
  border-radius: 5px;
  width: 5vw;
  padding: .35vw;
  font-weight: 700;
}
.button-like-dislike:hover{
 background: #5a5860;
 font-weight: 700;
}